@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

:root{
  --primary-color:#1468b6;
  --secondary-color:#37B9F1;
  --teritary-color:#F2F5F5;
  --font-primary:#565360;
  --font-secondary:#908E98;
  --font-tertiary:#e1dfe9;
  --sm-size:0.85rem;
  --md-size-1:1rem;
  --md-size-2:1.25rem;
  --lg-size-1:1.5rem;
  --lg-size-2:2rem;
  --lg-size-3:3rem;
  --primary-font:'Roboto', sans-serif;
  --secondary-font:'Poppins', sans-serif;
}

h1{
  font-family: var(--primary-font);
  font-weight: 800;
  line-height: 3.3rem;
  letter-spacing: 1.5px;
  color:var(--primary-color);
  font-size: var(--lg-size-3);
  text-shadow: 0 0.5px 2px #000;
}

h2{
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 2.7rem;
  letter-spacing: 1.5px;
  color:var(--primary-color);
  font-size:var(--lg-size-2);
}

h3{
  font-family: var(--primary-font);
  font-weight: 600;
  line-height: 1.5rem;
  color:var(--font-primary);
  font-size: var(--md-size-2);
}

h4{
  font-family:var(--secondary-font) ;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.9px;
  color:var(--primary-color);
  font-size: var(--lg-size-1);
  text-shadow: 0 0.4px 0.5px #000;
}
h5{
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 1px;
  color:var(--font-primary);
  font-size: var(--md-size-1);
}

p{
  margin-bottom:5px;
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 0.8px;
  color:var(--primary-color);
  font-size: var(--md-size-1);
}
.greeting{
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  color:var(--font-primary);
  font-size: var(--md-size-2);
  margin:1rem 0rem;
}
p.project-name{
  font-weight: 600;

}

p.duration,p.description,p.techStacks{
  font-size: var(--sm-size);
  color:var(--font-primary);
}

#highlight{
  color:var(--primary-color);
}
img.navbar-brand{
 width: 4rem;
}

.active{
  color:var(--primary-color);
}
.navbar{
  background-color: #fff;
}
.navbar-expand-lg .navbar-nav a.nav-link{
  margin:auto;
  font-family: var(--primary-font);
  letter-spacing: 3px;
  font-weight: 600;
  font-size:var(--sm-size);
  color:var(--font-primary);
  border-radius: 50rem;
  padding:0.3rem 1rem;
  cursor:pointer;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition:all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  -ms-transition:all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s;
}

.navbar-expand-lg .navbar-nav a.nav-link.activeLink{
  border:1px solid var(--primary-color);
  font-size: var(--sm-size);
  color:var(--primary-color);
}

.navbar-expand-lg .navbar-nav a.nav-link:hover{
  transform: translateY(-17%);
}

.navbar-toggler:focus, .navbar-toggler{
box-shadow: unset;
border:unset;
}

.skills{
  color:var(--primary-color)
}

.main-btn{
  display: inline-block;
  padding:0.4rem 1.8rem;
  background-color: var(--primary-color);
  color:var(--teritary-color);
  font-family: var(--primary-font);
  font-size: var(--sm-size);
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  border-radius: 4px;
  border:unset;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition:all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -ms-transition:all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  box-shadow: 0 0.7px 3px #000;
}

.main-btn:active{
  box-shadow: 0 0.3px 2px #000;
}

a.main-btn{
  padding:0.4rem  1rem;
  font-size: 0.75rem;
}

.socials{
  background-color: #fff;
}
.socials i{
  color:var(--primary-color);
}

.data-container{
  border: 1px dashed var(--primary-color);
  border-radius: 8px;
}

#my-img{
  padding:0.3rem;
  border:0.5px solid var(--primary-color);
}

.project-container{
  padding:1rem;
  border:0.7px solid rgb(236, 233, 233);
  border-left: 0.5rem solid var(--primary-color);
}

.project-icon{
  color: var(--primary-color);
  font-weight: 500;
}

.location{
  border:0.5px solid var(--primary-color)
}

input:focus,textarea:focus{
  box-shadow: unset !important;
}


.error{
  font-size: var(--sm-size);
  color:red;
  font-weight: 300 !important;
}

footer{
  padding:1rem;
  background-color: var(--primary-color);
  text-align: center;
}

footer h5{
  color:var(--font-tertiary);
  font-weight: 400;
}

label, strong, input, textarea{
  font-family: var(--secondary-font);
}

@media(max-width:776px){
  :root{
    --lg-size-3:2.5rem;
    --lg-size-2:1.7rem;
    --lg-size-1:1.4rem;
    --md-size-2:1.17rem;
    --md-size-1:0.95rem;
  }
}

@media(max-width:576px){
  :root{
    --lg-size-3:2.2rem;
    --lg-size-2:1.7rem;
    --lg-size-1:1.325rem;
    --md-size-2:1.17rem;
    --md-size-1:0.88rem;
  }

  h5{
    line-height: 1.73rem;
  }
  h1{
    line-height: 2.6rem;
  }

  #bio{
    text-align:justify;
  }
}

@media(max-width:996px){
  .heading,#about #name{
    text-align: center;
  }
}

